<%- include('partials/head'); %>
<body>
<%- include('partials/navbar'); %>
<main>
    <section class="py-5 text-center bg-dark">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="text-white">Mantel Rojo</h1>
                <p class="lead text-white">the best Pizza Store in the City!!</p>
            </div>
        </div>
    </section>
+</main>
<%- include('partials/footer'); %>
</body>
</html>